.container {
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;

    .postInfos {
        display: flex;
        color: var(--info);
        font-size: 14px;
        font-weight: 400;

        div + div {
            margin-left: 1rem;
        }
    }

    button {
        color: var(--highlight);
        font-weight: 600;
        font-size: 18px;
        background: none;
        border: none;
        width: 100%;
        text-align: left;
        margin-bottom: 80px;
        transition: filter 0.2s;

        &:hover {
            filter: brightness(1.1);
        }
    }

}