$background: #1A1D23;
// $info: #BBBBBB;
// $body: #D7D7D7;
// $heading: #F8F8F8;
// $highlight: #FF57B2;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: $background;
}

a {
  text-decoration: none;
}